{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favori Filmlerim</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Favori Filmlerim</h1>
        <ul class="list-group">
            {% for movie in movies %}
            <li class="list-group-item">
                <a href="{% url 'film_detay' movie.id %}" class="btn btn-link movie-btn">{{ movie.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
{% endblock %}